* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
}

/* HEADER SECTION */

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #1f2937;
}

.nav-main {
    display: flex;
    justify-content: center;
}

.nav-main ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.page-width {
    width: 60%;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav-left {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.nav-right ul {
    margin: 0px;
}

.nav-left li {
    padding: 5px;
}

.nav-right li {
    padding: 5px;

}

.nav-right li:nth-child(n+2):nth-child(-n+3) {
    margin-left: 20px;
}

.nav-right a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.nav-right a:hover {
    text-decoration: underline;
}

/* HERO SECTION */

.hero-container {
    padding-top: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    padding: 50px 5px;
    padding-bottom: 100px;
}

.hero .text {
    width: 50%;
    padding-right: 50px;
    margin: auto;
}

.hero .text h1 {
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 5px;
}

.hero .text p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px;
}

.hero-img-placeholder {
    background-color: #858585;
    color: #e5e7eb;
    display: flex;
    padding: 5px;
    height: 300px;
    width: 50%;
    border: 2px solid #e5e7eb;
}

.hero-img-placeholder p {
    font-size: 18px;
    align-self: center;
    text-align:center;
    width: 100%;
}

.btn-cta {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 7px;
    height: 36px;
    width: 130px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.btn-cta:hover {
    background-color: #0665ff;
}

/* GALLERY SECTION */

.gallery {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.gallery h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.gallery-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.card {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.card-img-placeholder {
    width: 170px;
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    padding: 10px;
}

.card-description {
    width: 170px;
    padding: 10px 0px;
    color: #858585;
    text-align: center;
    font-size: 18px;
}

/* QUOTE SECTION */

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-main {
    width: 48%;
    margin-top: 120px;
    margin-bottom: 90px;
}

.quote-content {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin-top: 10px;
}

/* CALL TO ACTION SECTION */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.cta-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.cta-content h1 {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.cta-content p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.cta-form {
    text-align: center;
}

.cta-form button {
    border: 2px solid #e5e7eb;
    border-radius: 7px;
    background-color: #3882f6;
    color: #e5e7eb;
    height: 36px;
    width: 130px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.cta-form button:hover {
    background-color: #0665ff;
}

/* FOOTER */

footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 18px;
    margin: 10px;
}

/* @MEDIA'S */

@media screen and (max-width: 1500px) {
    .page-width {
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    .page-width {
        width: 85%;
    }
    .nav-right li:nth-child(n+2):nth-child(-n+3) {
        margin-left: 15px;
    }
}

@media screen and (max-width: 800px) {
    header {
        position: relative;
    }
    
    .hero-container {
        padding-top: 20px;
    }

    .page-width {
        width: 90%;
    }

    .nav-left {
        font-size: 20px;
    }

    .nav-right a {
        font-size: 16px;
    }
    
    .nav-right li:nth-child(n+2):nth-child(-n+3) {
        margin-left: 7px;
    }
    
    .hero {
        flex-direction: column;
        padding: 15px 5px;
        justify-content: center;
        align-content: center;
    }

    .hero .text {
        width: 90%;
        order: 2;
        align-self: center;
        text-align: center;
        padding-right: 0;
        margin-top: 20px;
    }

    .hero .text h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .hero .text p {
        font-size: 16px;
        padding-right: 0;
    }

    .hero .text button {
        margin-bottom: 25px;
    }

    .hero-img-placeholder {
        align-self: center;
    }

    .btn-cta {
        background-color: #3882f6;
        color: #f9faf8;
        border: none;
        border-radius: 7px;
        height: 34px;
        width: 110px;
        margin-bottom: 25px;
    }

    .gallery {
        margin-top: 0;
    }

    .gallery .title h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .gallery-content {
        margin-bottom: 30px;
    }

    .quote-main {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .quote-content {
        font-size: 30px;
        text-align: center;
    }

    .quote-author {
        font-size: 20px;
        text-align: center;
    }

    .call-to-action {
        height: 240px;
    }
    
    .cta-main {
        flex-direction: column;
        height: 150px;
    }
    
    .cta-content h1 {
        font-size: 22px;
        text-align: center;
    }
    
    .cta-content p {
        font-size: 16px;
        text-align: center;
    }
}


@media screen and (max-width: 600px){
    .page-width {
        width: 95%;
    }
    
    .nav {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        margin: 6px 0px;
    }

    .nav li {
        padding: 2px;
    }

    .nav-right li:nth-child(n+2):nth-child(-n+3) {
        margin-left: 0px;
    }

    .hero {
        padding: 5px 5px;

    }

    .hero .text {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .hero .text h1 {
        margin-bottom: 0px;
    }

    .hero .text p {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .hero .text button {
        align-self: center;
    }

    .hero-img-placeholder {
        display: none;
    }
}