* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

header ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.nav-left {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    margin-left: 200px;
}

.nav-left li {
    padding: 0;
}

.nav-right {
    margin-right: 200px;
}

.nav-right li {
    padding: 0;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

header a:hover {
    text-decoration: underline;
}

.hero {
    margin: 0 200px;
}

.hero-img-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
    border: 2px solid #eee;
}

.hero-img-placeholder h4 {
    align-self: center;
    text-align:center;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .nav-left {
        font-size: 20px;
        margin-left: 100px;
    }
    
    .nav-right {
        margin-right: 100px;
    }
    
    .nav-right li {
        margin-left: 20px;
    }

    header a {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .nav-left {
        font-size: 18px;
        margin-left: 50px;
    }
    
    .nav-right {
        margin-right: 50px;
    }
    
    .nav-right li {
        margin-left: 15px;
    }

    header a {
        font-size: 14px;
    }

@media screen and (max-width: 600px){
    header {
        flex-direction: column;
    }
    header ul {
        flex-direction: column;
    }

    header a {
        /* font-size: 12px; */
    }

    .nav-left {
        /* margin: auto; */
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 9px
    }

    .nav-right {
        /* margin-right: 0px;
        margin-top: 7px; */
        margin: 9px 0px;
    }

    .nav-left li {
        /* font-size: 16px; */
    }

    .nav-right li {
        margin-left: 0px;
    }
}